@media screen and (min-width: 500px) {
  :root {
	--width: 95%
  }
}

@media screen and (min-width: 1000px) {
  :root {
	--width: 50%
  }
}

#header {
  text-align: center;
  width: var(--width);
  margin: auto;
 }

#settings {
  text-align: right;
  margin: auto;
  margin-bottom: 10;
  width: var(--width)

/* for bottom positioning:

  width: 70%;
  position: absolute;
  bottom: 10%;
*/
}

.settings {
   width: 48;
   height: 48;
}

#main {
  width: var(--width);
  margin: auto;
}

#content {
  margin-top: 5;
  margin-bottom: 5;
  padding-top: 5;
  padding-bottom: 5;
  padding-left: 5;
  border-radius: 5px;
  background-color: #d0d0d0;
}

.content {
  vertical-align: middle;
  width: 96;
  height: 96;
}

a {
  text-decoration: none;
  color: black;
}
